.login {
  text-decoration: none;
  height: 40px;
  border-radius: 60px;
  padding: 5px 20px;
  color: white;
  font: 20px Poppins;
  background-color: #58b560;
  display: flex;
  text-align: center;
  align-items: center;
}

.spotify-logo {
  width: 25px;
  margin-right: 10px;
}
