.song-result {
  margin-bottom: 15px;
}

.album-cover {
  float: left;
  position: relative;
}

.album-cover img {
  width: 200px;
  margin-right: 40px;
  transition: all 0.3s ease;
}

.album-cover:hover img {
  webkit-filter: blur(10px);
  filter: blur(10px);
}

.album-cover:hover img + .song-display {
  visibility: visible;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.song-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 800;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 5;
  top: 0;
  color: white;
  visibility: hidden;
  -webkit-text-stroke: 0.5px black;
  transition: visibility 0.1s linear;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.song-name {
  font-size: 18px;
  /* text-overflow: ellipsis; */
  width: 150px;
  min-height: 2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.play-arrow {
  width: 200px;
  display: flex;
  justify-content: center;
  font-size: 64px;
  -webkit-text-stroke: 0.5px black;
}

.artist-name {
  max-width: 150px;
  font-size: 16px;
}
