.login {
  text-decoration: none;
  height: 40px;
  border-radius: 60px;
  padding: 5px 20px;
  color: white;
  font: 20px Poppins;
  background-color: var(--spotify-green);
  display: flex;
  text-align: center;
  align-items: center;
  z-index: 2;
}

.spotify-logo {
  width: 25px;
  margin-right: 10px;
}
