.MuiSlider-root {
  color: var(--spotify-green);
  width: 200px;
  padding-top: 8px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

#range-slider {
  margin: 0;
}

.MuiButtonBase-root {
  background-color: var(--spotify-green);
}

.MuiButtonBase-root:hover {
  background-color: #00c460;
}
