.main-info header {
  position: relative;
  height: 75vh;
  overflow: hidden;
}

.header__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  background-image: linear-gradient(#ff9d2f, #ff6126);
}

.title {
  position: relative;
  color: white;
  padding: 100px 0;
  text-transform: uppercase;
  font: 64px Poppins;
  text-align: center;
}

section {
  display: flex;
  position: absolute;
  top: 50vh;
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgb(18, 18, 18), rgb(40, 40, 40));
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.sign-in-area button {
  position: relative;
  bottom: -5vh;
}

@media screen and (max-width: 480px) {
  .main-info header {
    height: 65vh;
  }

  .main-info header h1 {
    font: 44px Poppins;
  }

  .sign-in-area button {
    position: relative;
    bottom: 0;
  }
}
